{% load static %}

    <footer>
        <div class="container">
            <div class="row footer-main">
                <div class="col-12 col-sm-7 col-lg-5 pb-5">
                    <img src="{% static 'img/logo/logo_original.png' %}" alt="Böyük Qayıdış logo" height="150px" style="background-color: #fff; padding: 10px;">
                    <p><strong>"Böyük Qayıdış" MMC</strong> şirkətinin yaradılmasının əsas məqsədi sizə ən yüksək səviyyədə təchizat xidməti göstərmək və təşkilati məsələlərdə peşəkar komandamızla yanınızda olmaqdır.</p>
                </div>
                <div class="col-2 d-none d-lg-block"></div>
                <div class="col-12 col-sm-5">
                    <h5>Bizimlə Əlaqə:</h5>
                    <ul>
                        <li><i class="fa-solid fa-phone"></i>&nbsp;&nbsp;+994 (51) 394 33 95</li>
                        <li><i class="fa-solid fa-phone"></i>&nbsp;&nbsp;+994 (12) 561 08 83</li>
                        <li><i class="fa-solid fa-envelope"></i>&nbsp;&nbsp;coordinator@boyukqayidish.com</li>
                        <li><i class="fa-solid fa-location-dot"></i>&nbsp;&nbsp;&nbsp;Bakı ş. Nərimanov rayonu, Kral Hüseyn küç 64B</li>
                    </ul>
                    <ul class="mt-5 pt-5">
                        <li><a href="https://www.facebook.com/boyukqayidishmmc" target="_blank"><i class="fa-brands fa-facebook-f"></i></a></li>
                        <li><a href="https://instagram.com/boyuk_qayidis" target="_blank"><i class="fa-brands fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="copyright py-5">
                <p class="p-0 m-0">2022 © Sayt <a href="#">GUYS Digital Agency</a> tərəfindən hazırlanmışdır.</p>
            </div>
        </div>
    </footer>