{% extends "base.html" %}
{% load static %}

{% block title %}Əlaqə{% endblock %}

{% block content %}
    <main id="contact-page">
        <section class="banner single-page-banner">
            <div class="banner-bg">
                <div class="caption text-start">
                    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'home' %}">Əsas Səhifə</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Əlaqə</li>
                        </ol>
                    </nav>
                    <h2>Əlaqə</h2>
                </div>
            </div>
        </section>

        <section class="container my-5 py-5">
            <div class="form-info pb-5">
                <div class="row" style="align-items: flex-start;">
                    <div class="col-12 col-md-6 col-xl-3 form-contact-news form-location text-center">
                        <i class="fa-solid fa-location-dot"></i>
                        <p>
                            <strong>Ünvan:</strong><br>
                            <span>Bakı ş. Nərimanov rayonu, Kral Hüseyn küç 64B</span>
                        </p>
                    </div>
                    <div class="col-12 col-md-6 col-xl-3 form-contact-news form-phone text-center">
                        <i class="fa-solid fa-phone"></i>
                        <p>
                            <strong>Telefon:</strong><br>
                            <span>+994 (51) 394 33 95<br>+994 (12) 561 08 83</span>
                        </p>
                    </div>
                    <div class="col-12 col-md-6 col-xl-3 form-contact-news form-email text-center">
                        <i class="fa-solid fa-envelope"></i>
                        <p>
                            <strong>Email:</strong><br>
                            <span>coordinator@boyukqayidish.com</span>
                        </p>
                    </div>
                    <div class="col-12 col-md-6 col-xl-3 form-contact-news form-website text-center">
                        <i class="fa-solid fa-globe"></i>
                        <p>
                            <strong>Website:</strong><br>
                            <span>boyukqayidish.com</span>
                        </p>
                    </div>
                </div>
            </div>

            <div class="contact mt-5 py-5">
                <div class="contact-text">
                    <p>Xidmətlərimizlə maraqlandığınız üçün təşəkkür edirik!</p>
                    <h2>Aşağıdakı formu dolduraraq bizə onlayn müraciət edə bilərsiniz.</h2>
                </div>
            </div>

            <div class="contact-form-image pt-3">
                <div class="contact-form">
                    <form action="#" method="POST">
                        {% csrf_token %}
                        <div class="form-group ">
                            {{form.name}}
                            <!-- <input type="text" id="" placeholder="Ad Soyadınız"> -->
                        </div>
                        <div class="form-group">
                            {{form.number}}
                            <!-- <input type="text" id="" placeholder="Telefon nömrəniz"> -->
                        </div>
                        <div class="form-group">
                            {{form.email}}
                            <!-- <input type="email" id="" placeholder="Email ünvanınız"> -->
                        </div>
                        <div class="form-group">
                            {{form.subject}}
                            <!-- <input type="text" id="" placeholder="Mövzu"> -->
                        </div>
                        <div class="form-group">
                            {{form.messege}}
                            <!-- <textarea name="" id="" cols="30" rows="10" placeholder="Mesajınız"></textarea> -->
                        </div>
                        <button type="submit" class="btn btn-purple">Göndər</button>
                    </form>
                </div>
            </div>
        </section>

        <section class="mapouter">
            <div class="gmap_canvas">
                <iframe width="600" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=Kral%20H%C3%BCseyn%20k%C3%BC%C3%A7%2064B&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
            </div>
        </section>
    </main>
{% endblock %}