:root{
    --purple: #9D41B6;
    --green: #BAD330;
    --black: #222222;
    --white: #FFFFFF;
}


/************************ GENERAL CSS ************************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}

.btn {
    font-size: 1.6rem;
    padding: 10px 15px;
    box-shadow: 0 3px 4px rgb(0 0 0 / 7%);
    border: 0;
    border-radius: 0;
}
.btn-white {
    background-color: var(--white);
    color: var(--black);
}
.btn-white:hover {
    background-color: var(--purple);
    color: var(--white);
}
.btn-purple {
    background-color: var(--purple);
    color: var(--white);
}
.btn-purple:hover {
    background-color: #89349e;
    color: var(--white);
}

@media (max-width: 567px) {
    .container {
        padding-left: 20px;
        padding-right: 20px;
    }
}


/************************ BACK-TO-TOP BUTTON ************************/
.back-to-top {
    position: fixed;
    display: block;
    width: 40px;
    height: 35px;
    background-color: var(--purple);
    bottom: 45px;
    right: 30px;
    opacity: 0;
    z-index: 100;
    visibility: hidden;
    box-shadow: 1px 5px 15px 0 rgb(0 0 0 / 12%);
    transition: opacity 0.5s, visibility 0.5s;
}
.back-to-top.is-visible {
    opacity: 1;
    visibility: visible;
}
.back-to-top i {
    position: absolute;
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    transform: translateX(-50%) translateY(-50%);
    font-size: 1.4rem;
    color: var(--white);
}


/************************ MOBILE NAVBAR ************************/
#mobile-menu-trigger {
    position: fixed;
    right: 50px;
    top: 0;
    height: 100px;
    z-index: 1002;
    outline: none !important;
    display: none;
    transition: width 1s cubic-bezier(0.07, 0.23, 0.34, 1);
    transition-delay: 0.5s;
}
#mobile-menu-trigger .mobile-menu-icon {
    display: inline-block;
    position: absolute;
    top: 50%;
    bottom: auto;
    transform: translateY(-50%);
    width: 18px;
    height: 2px;
    background-color: var(--black);
    right: 10px;
}
#mobile-menu-trigger.is-clicked .mobile-menu-icon {
    background-color: rgba(255, 255, 255, 0);
}
#mobile-menu-trigger .mobile-menu-icon::before,
#mobile-menu-trigger .mobile-menu-icon:after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: inherit;
    left: 0;
    transition: 350ms all;
}
#mobile-menu-trigger.is-clicked .mobile-menu-icon::before,
#mobile-menu-trigger.is-clicked .mobile-menu-icon::after {
    background-color: var(--white);
}
#mobile-menu-trigger .mobile-menu-icon::before {
    bottom: 5px;
}
#mobile-menu-trigger.is-clicked .mobile-menu-icon::before {
    bottom: 0;
    transform: rotate(45deg);
}
#mobile-menu-trigger .mobile-menu-icon::after {
    top: 5px;
}
#mobile-menu-trigger.is-clicked .mobile-menu-icon::after {
    top: 0;
    transform: rotate(-45deg);
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    opacity: 0;
    visibility: hidden;
    cursor: pointer;
    transition: opacity 0.5s, visibility 0.5s;
}
.mobile-menu-open .overlay {
    opacity: .6;
    visibility: visible;
}

.mobile-nav {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 90%;
    max-width: 400px;
    background-color: var(--purple);
    overflow: auto;
    z-index: 1001;
    transform: translateZ(0);
    transform: translateX(100%);
    transition: transform 0.5s cubic-bezier(0.07, 0.23, 0.34, 1);
}
.mobile-nav .mobile-menu {
    margin-top: 110px;
}
.mobile-nav .mobile-menu li {
    margin-bottom: 20px;
}
.mobile-nav .mobile-menu li a {
    display: block;
    color: var(--white);
    padding-left: 20px;
    font-size: 2.2rem;
    text-decoration: none;
}
.mobile-menu-open .mobile-nav {
    transform: translateX(0px);
}

@media (max-width: 992px) {
    #mobile-menu-trigger {
        display: block;
    }
    #mobile-menu-trigger.is-clicked {
        width: 400px;
    }
}
@media (max-width: 567px) {
    #mobile-menu-trigger {
        right: 10px;
    }
}
@media (max-width: 480px) {
    #mobile-menu-trigger.is-clicked {
        width: 90%;
    }
}


/************************ HEADER ************************/
header {
    background-color: var(--white);
    color: var(--black);
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    box-shadow: 0 3px 4px rgb(0 0 0 / 7%);
    height: 100px;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    z-index: 999;
    transition: 0.5s;
}
header .logo a {
    display: inline-block;
    height: 100px;
}
header .logo img {
    display: inline-block;
    height: 100%;
    padding: 15px 0;
}
header .col-10 {
    display: flex;
    flex-direction: column;   
}
header .primary-menu {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
header .primary-menu ul li {
    display: inline-block;
}
header .primary-menu ul li a {
    display: inline-block;
    color: inherit;
    font-size: 1.6rem;
    font-weight: 700;
    padding: 0 5px 30px;
    margin-right: 10px;
    position: relative;
}
header .primary-menu ul li a::after,
header .primary-menu ul li a.active::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 3px;
    background-color: var(--purple);
    transition: ease 0.5s;
}
header .primary-menu ul li a:hover::after,
header .primary-menu ul li a.active::after {
    width: 100%;
}

@media (max-width: 992px) {
    header .primary-menu {
        display: none;
    }
    header .nav-contact {
        display: none;
    }
}


/************************ BANNER CAROUSEL ************************/
.banner .carousel-inner .carousel-item {
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(27, 26, 26, 0.05);
    position: relative;
}
.banner .carousel-inner .carousel-item::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 9;
    background-color: rgba(27, 26, 26, 0.05);
}
.banner .carousel-indicators,
.banner .carousel-inner .carousel-caption,
.banner .carousel-control-prev,
.banner .carousel-control-next {
    z-index: 10;
}
.banner .carousel-inner .carousel-caption h2,
.banner .carousel-inner .carousel-caption p {
    text-shadow: 0px 0px 7px rgba(27, 26, 26, 0.5);
}
.banner .carousel-inner h2 {
    font-size: 7.5rem;
    font-weight: 700;
}
.banner .carousel-inner p {
    font-size: 1.8rem;
}
.banner .carousel-control-prev i,
.banner .carousel-control-next i {
    font-size: 50px;
}
@media (max-width: 567px) {
    .banner .carousel-inner .carousel-item {
        height: 70vh;
    }
}


/************************ ABOUT US ************************/
.about-us {
    padding-top: 100px;
}
.about-us h3,
.services h3 {
    font-size: 4rem;
    line-height: 5.4rem;
    font-weight: 700;
}
.about-us .about-content > div i {
    font-size: 4rem;
    color: #9b9b9b;
}
.about-us .about-content > div h4,
.about-us h4 {
    color: var(--black);
    margin: 15px 0;
    font-size: 2rem;
    font-weight: 700;
}
.about-us .about-content > div p,
.about-us p {
    font-size: 1.4rem;
    line-height: 2.4rem;
    color: #9b9b9b;
}
.about-us .carousel-item {
    cursor:default;
}
.about-us .carousel-item:hover h4 {
    color: var(--purple);
}
.about-us .carousel-indicators {
    justify-content: flex-start;
    margin: 0;
    bottom: -15px;
}
.about-us .carousel-indicators [data-bs-target] {
    width: 15px;
    height: 15px;
    border-bottom: 0;
    border-top: 0;
    background-color: var(--purple);
    border-radius: 100%;
}
.about-us .image-holder {
    position: relative;
}
.about-us .image-holder::after {
    content: "";
    position: absolute;
    bottom: -30px;
    right: -30px;
    width: 200px;
    height: 250px;
    background-color: var(--purple);
    opacity: 0.7;
    transition: ease 0.5s;
}
.about-us .image-holder img {
    display: inline-block;
    width: 100%;
}
@media (max-width: 768px) {
    .about-us h3,
    .services h3 {
        font-size: 3rem;
    }
}


/************************ SERVICES ************************/
.services {
    background-color: var(--white);
    padding: 100px 0 50px;
}
.services h4 {
    color: var(--purple);
    font-weight: 700;
    font-size: 1.8rem;
    margin-bottom: 15px;
}
.services .services-info p {
    font-size: 1.6rem;
    line-height: 2.5rem;
    color: #9b9b9b;
}
.services .service-item {
    margin-bottom: 30px;
    position: relative;
    cursor: pointer;
}
.services .service__img {
    width: 100%;
    height: 300px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.services .service__overlay {
    margin: 0 7.5px;
    padding: 20px;
    background-color: rgba(27, 26, 26, 0.1);
    color: var(--white);
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    transition: 0.5s;
    text-align: center;
}
.services .service-item:hover .service__overlay {
    background-color: rgba(159, 64, 184, 0.7);
}
.services .service__overlay i {
    font-size: 6rem;
}
.services .service__overlay h4 {
    margin: 15px 0;
    font-size: 3rem;
    color: inherit;
    text-shadow: 0px 0px 7px rgba(27,26,26,0.5);
}
.services .service__overlay p {
    font-size: 1.5rem;
}

@media (max-width: 768px) {
    .about-us .about-content > div:first-child {
        margin-bottom: 30px;
    }
}


/************************ ALL SECTIONS ************************/
.section {
    margin: 50px 0;
    padding: 50px 0;
    text-align: center;
    position: relative;
}
.section h3 {
    font-size: 3.4rem;
    font-weight: 700;
    padding-bottom: 20px;
}
.section .line {
    position: relative;
    margin-bottom: 40px;
}
.section .line::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 70px;
    height: 4px;
}
.section .card {
    border: 0;
    border-radius: 0;
    box-shadow: 0 0 15px 0 rgb(40 40 40 / 15%);
    text-align: left;
}
.section .card .card-img-top {
    border: 0;
    border-radius: 0;
    height: 300px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}
.section .card .card-img-top::after {
    content: "";
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(27, 26, 26, 0.4);
    transition: 0.5s;
}
.section .card:hover .card-img-top::after {
    opacity: 1;
}
.section .card .card-body {
    padding: 30px;
    min-height: 200px;
}
.section .card .card-body .card-title {
    font-size: 2.4rem;
    color: var(--black);
    transition: 0.5s;
}
.section .card:hover .card-body .card-title {
    color: var(--purple);
}
.section .card .card-body .card-text {
    font-size: 1.6rem;
    color: #9b9b9b;
}


/************************ PARTNERS & CUSTOMERS SECTION ************************/
.partners-customers-section {
    margin: 0 0 30px;
}
.partners-customers-section h3 {
    color: var(--black);
}
.partners-customers-section .line::after {
    background-color: var(--purple);
}
.partners-customers-section .image-holder img {
    width: 100%;
}
.partners-customers-section .owl-theme .owl-dots .owl-dot {
    display: none !important;
}

/************************ PROJECTS SECTION ************************/
.projects-section::before {
    content: "";
    height: 70%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
    background-color: var(--purple);
}
.projects-section h3 {
    color: var(--white);
}
.projects-section .line::after {
    background-color: var(--white);
}


/************************ NEWS SECTION ************************/
.news-section {
    padding: 0;
}
.news-section h3 {
    color: var(--black);
}
.news-section .line::after {
    background-color: var(--purple);
}
.news-section .line ~ p {
    width: 50%;
    margin: -10px auto 35px;
    font-size: 1.6rem;
    color: #9b9b9b;
}
.news-section .card {
    box-shadow: none;
}
.news-section .card .card-body span {
    display: inline-block;
    font-size: 1.2rem;
    color: var(--purple);
    margin-bottom: 8px;
}
.news-section .card .card-body .read-more {
    display: inline-block;
    padding-bottom: 5px;
    font-size: 1.4rem;
    font-weight: 700;
    position: relative;
    color: var(--black);
    transition: 0.5s;
}
.news-section .card .card-body .read-more::after {
    width: 0;
    height: 3px;
    background-color: var(--purple);
    transition: ease 0.5s;
}
.news-section .card:hover .card-body .read-more {
    color: var(--purple);
}

@media (max-width: 992px) {
    .section .card .card-img-top {
        height: 200px;
    }
    .news-section .line ~ p {
        width: 80%;
    }
}
@media (max-width: 768px) {
    .section .card {
        margin-bottom: 50px;
    }
    .projects-section::before {
        height: 90%;
    }
}


/************************ FOOTER ************************/
footer {
    padding: 50px 0 0;
    background-color: var(--purple);
    color: var(--white);
    margin-top: 50px;
}
footer .footer-main p {
    margin-top: 30px;
    font-size: 1.5rem;
}
footer .footer-main h5 {
    font-size: 2.4rem;
    margin: 10px 0;
}
footer .footer-main ul {
    font-size: 1.4rem;
}
footer .footer-main ul li {
    margin-bottom: 5px;
}
footer .footer-main ul:last-child li {
    display: inline-block;
    font-size: 2rem;
    margin-right: 20px;
}
footer .footer-main ul:last-child li a {
    color: inherit;
    transition: 0.5s;
}
footer .footer-main ul:last-child li a:hover {
    opacity: 0.8;
}
footer .copyright {
    border-top: 1px solid #eaeaea;
    font-size: 1.4rem;
    text-align: center;
}
footer .copyright a {
    color: var(--white);
    font-weight: 700;
}


/************************ OTHER PAGES ************************/
.banner.single-page-banner .banner-bg {
    height: 240px;
    background-color: var(--purple);
    /* '' */
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner.single-page-banner .banner-bg::after {
    content: none;
}
.banner.single-page-banner .caption {
    margin-top: 100px;
    color: #fff;
}
.banner.single-page-banner .caption h2 {
    font-size: 6rem;
    font-weight: 700;
}
@media (max-width: 768px) {
    .banner.single-page-banner .caption h2 {
        font-size: 4rem;
    }
}
@media (max-width: 576px) {
    .banner.single-page-banner .carousel-caption h2 {
        font-size: 3rem;
    }
}

.breadcrumb .breadcrumb-item {
    font-size: 1.5rem;
}
.breadcrumb .breadcrumb-item a {
    color: inherit;
    transition: 0.5s;
}
.breadcrumb .breadcrumb-item a:hover {
    text-decoration: underline;
}
.breadcrumb .breadcrumb-item:last-child {
    color: var(--white);
}
.breadcrumb .breadcrumb-item::before {
    color: var(--white);
}


/************************ PARTNERS & CUSTOMERS PAGE ************************/
#partners-and-customers-page .line::after {
    background-color: var(--purple);
    left: 0;
    transform: none;
}
#partners-and-customers-page .card {
    cursor: pointer;
    transition: 0.5s;
}
#partners-and-customers-page .card:hover {
    box-shadow: 0 0 15px 0 rgb(40 40 40 / 30%);
}
#partners-and-customers-page .card div {
    height: 200px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
#partners-and-customers-page .section .col-12 {
    height: 360px;
}
#partners-and-customers-page .section h4 {
    font-size: 2rem;
    margin-top: 15px;
}
@media (max-width: 576px) {
    #partners-and-customers-page .section {
        padding: 0 50px;
    }
    #partners-and-customers-page h3 {
        font-size: 3rem;
    }
}


/************************ PROJECTS PAGE ************************/
/************************ NEWS PAGE ************************/
#projects-page .projects-section {
    background-color: var(--white) !important;
}
#projects-page .projects-section .col-12,
#news-page .news-section .col-12 {
    margin-bottom: 50px;
}

#projects-page .section .card .card-body {
    min-height: 250px;
    display: flex;
    flex-direction: column;
}

#projects-page .date-info {
    position: relative;
}
#projects-page .date {
    position: absolute;
    left: 0;
    top: 0;
    width: 70px;
    padding: 5px 0 0;
    text-align: center;
    background: var(--white);
    z-index: 1;
}
#projects-page span.day {
    display: block;
    font-size: 2.4rem;
    color: vaR(--black);
    padding: 0 5px 5px;
}
#projects-page span.month {
    display: inherit;
    left: 0px;
    font-size: 1.1rem;
    padding: 2px 8px;
    font-weight: normal;
    text-transform: uppercase;
    position: relative;
    background-color: var(--purple);
    color: var(--white);
}

#projects-page .page-pagination,
#news-page .page-pagination {
    display: flex;
    justify-content: center;
}
#projects-page .pagination,
#news-page .pagination {
    --bs-pagination-padding-x: 2.2rem;
    --bs-pagination-padding-y: 1rem;
}
#projects-page .pagination .page-item .page-link,
#news-page .pagination .page-item .page-link {
    color: var(--purple);
    font-size: 1.5rem;
}
#projects-page .pagination .page-item .page-link.active,
#news-page .pagination .page-item .page-link.active,
#projects-page .pagination .page-item .page-link.active:hover,
#news-page .pagination .page-item .page-link.active:hover {
    border-color: #dee2e6;
    background-color: #dee2e6 !important;
}
#projects-page .pagination .page-item .page-link.deactive:hover,
#news-page .pagination .page-item .page-link.deactive:hover {
    background-color: transparent;
}


/************************ PROJECTS DETAILS PAGE ************************/
/************************ NEWS DETAILS PAGE ************************/
.sidebar {
    background-color: var(--purple);
    color: var(--white);
    padding: 20px;
}
.sidebar h4 {
    font-size: 2.4rem;
    font-weight: 700;
    margin-bottom: 15px;
}
.sidebar .line::after {
    background-color: var(--white);
    transform: 0;
    left: 35px;
}
.sidebar .box:nth-child(3) {
    margin-bottom: 30px;
}
.sidebar .box .box-img {
    height: 120px;
    margin-bottom: 10px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}
.sidebar .box .box-img::after {
    content: "";
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.2);
}
.sidebar .box span {
    color: #eaeaea;
    font-size: 1.3rem;
}
.sidebar .box h5 {
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 2.4rem;
    color: var(--white);
    transition: 0.5s;
}

.single-blog .blog-title-img {
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
    cursor: pointer;
}
.single-blog .blog-title-img img {
    width: 100%;
    transition: 0.9s;
}
.single-blog .blog-title-img:hover img {
    transform: scale(1.1);
}
.single-blog h3 {
    width: 90%;
    margin: 0 auto;
}
.single-blog span {
    font-size: 1.5rem;
    color: #9b9b9b;
}
.single-blog .single-blog-content {
    width: 90%;
    margin: 0 auto;
    text-align: justify;
    font-size: 1.7rem;
    color: var(--black);
}
.single-blog .single-blog-content p {
    margin-bottom: 20px;
}
.single-blog .single-blog-content img {
    display: inline-block;
    width: 100%;
    margin-bottom: 20px;
}
@media (max-width: 768px) {
    .sidebar {
        margin-top: 50px;
    }
    .single-blog .blog-title-img,
    .single-blog h3,
    .single-blog .single-blog-content {
        width: 100%;
    }
}


/************************ CONTACT PAGE ************************/
.form-info {
    border-bottom: 1px solid #eaeaea;
}
.form-info .form-contact-news {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form-info .form-contact-news p {
    font-size: 1.8rem;
    padding: 20px 0;
}
.form-info .form-contact-news i {
    cursor: pointer;
    font-size: 3rem;
    color: var(--white);
    background-color: var(--purple);
    width: 80px;
    height: 80px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}
.form-info .form-contact-news i:hover {
    opacity: 0.8;
    transform: scale(1.1);
}

.contact .contact-text {
    text-align: center;
}
.contact .contact-text p {
    color: #9b9b9b;
    font-size: 2rem;
    font-weight: 700;
}
.contact .contact-text h2 {
    font-size: 2.5rem;
}

.contact-form-image {
    display: flex;
    justify-content: space-around;
}
.contact-form {
    width: 50%;
}
.contact-form input,
.contact-form textarea {
    font-size: 1.5rem;
    width: 100%;
    padding: 10px 15px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: 1px solid var(--purple);
    outline: none;
}
.contact-form input:focus,
.contact-form textarea:focus  {
    outline: 1px solid var(--purple);
}

.mapouter iframe {
    width: 100%;
    height: 500px;
    opacity: 0.7;
}

@media (max-width: 992px) {
    .contact-form {
        width: 60%;
    }
}
@media (max-width: 768px) {
    .contact-form {
        width: 100%;
    }
}