{% extends "base.html" %}
{% load static %}

{% block title %}Layihələr{% endblock %}

{% block content %}
    <main id="projects-page">
        <section class="banner single-page-banner">
            <div class="banner-bg" style="background-image: url('../static/img/banner2.jpg');">
                <div class="carousel-caption text-start mt-5">
                    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'home' %}">Əsas Səhifə</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Layihələr</li>
                        </ol>
                    </nav>
                    <h2>Layihələrimiz</h2>
                </div>
            </div>
        </section>

        <section class="section projects-section">
            <div class="container">
                <div class="row">
                    {% for i in projects %}
                    <div class="col-12 col-md-4">
                        <div class="date-info">
                            <div class="date">
                                <span class="day">{{i.created_at|date:"d"}}</span>
                                <span class="month">{{i.created_at|date:"M"}}</span>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-img-top" style="background-image: url('{{i.image.url}}');"></div>
                            <div class="card-body">
                                <h5 class="card-title">{{i.title}}</h5>
                                <p class="card-text">{{i.description1|truncatechars:85}}</p>
                                <a href="{{i.get_absolute_url}}" class="mt-auto btn btn-purple" style="width: fit-content;">Daha Ətraflı</a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                   
                    <!-- <div class="col-12 col-md-4">
                        <div class="date-info">
                            <div class="date">
                                <span class="day">2</span>
                                <span class="month">Sent 22</span>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-img-top" style="background-image: url('../static/img/projects2.jpg');"></div>
                            <div class="card-body">
                                <h5 class="card-title">Project title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <a href="project-details.html" class="btn btn-purple">Daha Ətraflı</a>
                            </div>
                        </div>
                    </div> -->
                </div>

                <nav class="page-pagination">
                    <ul class="pagination">
                        {% if page_obj.has_previous %}
                        <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}"><i class="fa-solid fa-angle-left"></i></a></li>
                        {% endif %}
                        <li class="page-item"><a class="page-link" href="#">{{ page_obj.number }}</a></li>
                        <li class="page-item"><a class="page-link" href="#">of</a></li>
                        <li class="page-item"><a class="page-link" href="#">{{ page_obj.paginator.num_pages }}</a></li>
                        {% if page_obj.has_next %}
                        <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}"><i class="fa-solid fa-angle-right"></i></a></li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </section>
    </main>
{% endblock %}