{% extends "base.html" %}
{% load static %}

{% block title %}Haqqımızda{% endblock %}

{% block content %}
    <main>
        <section class="banner single-page-banner">
            <div class="banner-bg">
                <div class="container caption text-start">
                    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'home' %}">Əsas Səhifə</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Haqqımızda</li>
                        </ol>
                    </nav>
                    <h2>Haqqımızda</h2>
                </div>
            </div>
        </section>

        <section id="about-us" class="about-us mt-5 py-5">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-lg-8">
                        <h3>Vaxtınıza Qənaət Edən Təhlükəsiz, Etibarlı və Ekspres Logistika və Nəqliyyat Həlləri!</h3>
                        <div class="row mt-5 pb-5 about-content">
                            <div class="col-12 col-md-5">
                                <div id="about-carousel" class="carousel slide" data-bs-ride="carousel">
                                    <div class="carousel-indicators">
                                        <button type="button" data-bs-target="#about-carousel" data-bs-slide-to="0" class="" aria-label="Slide 1"></button>
                                        <button type="button" data-bs-target="#about-carousel" data-bs-slide-to="1" aria-label="Slide 2" class="active" aria-current="true"></button>
                                    </div>
                                    <div class="carousel-inner">
                                        <div class="carousel-item active" style="min-height: 305px;">
                                            <i class="fa-solid fa-globe"></i>
                                            <h4>Missiyamız</h4>
                                            <p>Yüksək keyfiyyətli məhsul göndərmələrini təmin etmək, material, informasiya, maliyyə, kadr və s. axınlarının funksional menecmentinin səmərəli, inteqrativ sistemini yaratmaqdır. Eyni zamanda davamlı inkişafa yönəlmiş insanların təcrübə, bilik tələbatlarını peşəkarlıqla qarşılaya bilməkdir.</p>
                                        </div>
                                        <div class="carousel-item" style="min-height: 305px;">
                                            <i class="fa-solid fa-globe"></i>
                                            <h4>Vizyonumuz</h4>
                                            <p>Vizyonumuz Azərbaycanda ən çox seçilib etibar edilən şirkətə çevrilməklə yanaşı,  regionda da bu sahədə faydalı tərəfdaş kimi etibar qazanaraq, fəaliyyət istiqamətlərini digər ölkələrə də yaya bilməkdir.</p>
                                        </div>
                                    </div>
                                    <button class="carousel-control-prev" type="button" data-bs-target="#about-carousel" data-bs-slide="prev" style="display: none;">
                                        <span class="visually-hidden">Previous</span>
                                    </button>
                                    <button class="carousel-control-next" type="button" data-bs-target="#about-carousel" data-bs-slide="next" style="display: none;">
                                        <span class="visually-hidden">Next</span>
                                    </button>
                                </div>
                            </div>
                            <div class="col-12 col-md-7 px-4">
                                <h4>"Böyük Qayıdış" MMC şirkətinin yaradılmasının əsas məqsədi sizə ən yüksək səviyyədə təchizat xidməti göstərmək və təşkilati məsələlərdə peşəkar komandamızla yanınızda olmaqdır.</h4>
                                <p>Bir çox xidmətlər göstərən şirkətimiz özündə sənaye və iqtisadiyyatın sahələrini cəmləşdirən biznesiniz üçün geniş sayda həll yolları təqdim edir. Təchizat və satış, kommersiya və dövlət təşkilatları üçün bütün zəruri materialların satın alınması, procurement, supply və digər əməliyyatlarınızı operativ və rahat şəkildə icra etmək şirkətimiz üçün önəmli faktordur.</p>
                            </div>
                        </div>
                        <h4 class="mt-5 pt-5">Üstünlüyümüz:</h4>
                        <p>Səmərəli və şəffaf iş prinsiplərinə əsaslanaraq, müasir keyfiyyət standartlarına uyğun xidmətlərlə Azərbaycanda və beynəlxalq aləmdə etibar və sabitlik nümunəsi olan bir şirkət olmaq, müştəri bazasını bundan sonra da artırmaq əzmində olaraq, bütün bunları reallaşdırmaq üçün əməli tədbirlər işləyib hazırlamaq. İşin keyfiyyətini artıraraq, müştəri məmnunluğunu qoruyub saxlamaq. İşçi heyətinin peşəkar fəaliyyətini bundan sonra da inkişaf etdirmək əzmində olaraq, bütün bunları reallaşdırmaq üçün əməli tədbirlər işləyib hazırlamaq.</p>
                    </div>
                    <div class="col-4 d-none d-lg-block">
                        <div class="image-holder">
                            <img src="{% static  'img/about.jpg' %}" alt="">
                        </div>
                    </div>
                </div>
                <div class="directory row mx-5 px-5">
                    <div class="col-4">
                        <div class="img-holder">
                            <img src="{% static  'img/emin-aliyev.jpeg' %}" alt="Emin Aliyev">
                            <p class="title pt-3 mb-0">Direktor</p>
                            <h4 class="mt-0">Emin Əliyev</h4>
                        </div>
                    </div>
                    <div class="col-8">
                        <p>Emin Fazil oğlu Əliyev 18.06.1981-ci ildə Bakı şəhərində anadan olmuşdur. 1988-1998-ci illərdə Bakı şəhəri Nəsimi rayonu, İlqar Əbilhəsənov adına 42 saylı orta məktəbdə, 1998-2002-ci illərdə Bakı Dövlət Universitetinin Tarix fakültəsi bakalavr, 2002-2004-cü illərdə isə magistr pilləsini fərqlənmə diplomu ilə bitirmişdir. 2004-2007-ci illər ərzində Azərbaycan Milli Elmlər Akademiyası A.A.Bakıxanov adına Tarix İnstitutunun əyani aspirantı olmuşdur.</p>
                        <p>2012-ci ildə Birləşmiş Ərəb Əmirliyində(insan resurslarının idarə edilməsi), 2013 və 2018-ci illərdə Almaniya Federativ Respublikasında(ümumi idarəetmə və aqrar layihələrin idarə edilməsi), 2017-ci ildə İsrail Dövlətində(aqrar idarəetmə), 2018-ci ildə Yaponiyada(kiçik və orta biznesin idarə edilməsi) təhsil almışdır. 2004-2006 və 2012-2014-cü illərdə Bakı Dövlət Universiteti Tarix fakültəsinin, 2015-2017-ci illərdə Azərbaycan Turizm və Menecment Universitetinin Menecment kafedrasının müəllimi olmuşdur.</p>
                        <p>80-dən çox məqalənin və bir kitabın müəllifidir. 2006-2016-cı illər ərzində müxtəlif dövlət, özəl və ictimai təşkilatlarda müxtəlif rəhbər vəzifələrdə çalışmışdır. 2016-cı ildən sahibkarlıq fəaliyyəti ilə məşğul olmuşdur. Hal-hazırda beynəlxalq və yerli biznes layihələrin idarə edilməsi sahəsində fəaliyyət göstərir. İngilis və rus dillərini sərbəst bilir.</p>
                    </div>
                </div>
            </div>
        </section>

        <section class="section partners-customers-section">
            <div class="container">
                <h3>Tərəfdaş və Sifarişçilər</h3>
                <div class="line"></div>
                <div class="owl-carousel owl-theme owl-loaded owl-drag">
                    <div class="owl-stage-outer">
                        <div class="row owl-stage" style="align-items: center;">
                            <div class="owl-item ps-5 pe-4">
                                <div class="item">
                                    <div class="image-holder">
                                        <img src="{% static 'img/companies/mb-broker-mmc.png' %}" alt="MB Broker MMC">
                                    </div>
                                </div>
                            </div>
                            <div class="owl-item ps-5 pe-4">
                                <div class="item">
                                    <div class="image-holder">
                                        <img src="{% static 'img/companies/analitik-ekspertiza-merkezi.png' %}" alt="Analitik Ekspertiza Mərkəzi">
                                    </div>
                                </div>
                            </div>
                            <div class="owl-item ps-5 pe-4">
                                <div class="item">
                                    <div class="image-holder">
                                        <img src="{% static 'img/companies/panno-textile.png' %}" alt="Panno Textile">
                                    </div>
                                </div>
                            </div>
                            <div class="owl-item ps-5 pe-4">
                                <div class="item">
                                    <div class="image-holder">
                                        <img src="{% static 'img/companies/amik.png' %}" alt="Azərbaycan Menecment və İnvestisiya Korporasiyası">
                                    </div>
                                </div>
                            </div>
                            <div class="owl-item ps-5 pe-4">
                                <div class="item">
                                    <div class="image-holder">
                                        <img src="{% static 'img/companies/qarabag-konsaltinq.jpg' %}" alt="Qarabağ Konsaltinq MMC">
                                    </div>
                                </div>
                            </div>
                            <div class="owl-item ps-5 pe-4">
                                <div class="item">
                                    <div class="image-holder">
                                        <img src="{% static 'img/companies/atesgah-sigorta.png' %}" alt="Atəşgah Həyat Sığorta Şirkəti">
                                    </div>
                                </div>
                            </div>
                            <div class="owl-item ps-5 pe-4">
                                <div class="item">
                                    <div class="image-holder">
                                        <img src="{% static 'img/companies/caucasus-consulting-group-of-companies.png' %}" alt="Caucasus COnsulting Group of Companies MMC">
                                    </div>
                                </div>
                            </div>
                            <div class="owl-item ps-5 pe-4">
                                <div class="item">
                                    <div class="image-holder">
                                        <img src="{% static 'img/companies/kliniki-tibbi-merkez.png' %}" alt="Kliniki Tibbi Mərkəz">
                                    </div>
                                </div>
                            </div>
                            <div class="owl-item ps-5 pe-4">
                                <div class="item">
                                    <div class="image-holder">
                                        <img src="{% static 'img/companies/investbaku-mmc.png' %}" alt="InvestBaku MMC">
                                    </div>
                                </div>
                            </div>
                            <div class="owl-item ps-5 pe-4">
                                <div class="item">
                                    <div class="image-holder">
                                        <img src="{% static 'img/companies/alex-machine-istanbul.jpeg' %}" alt="Alex Machine Istanbul">
                                    </div>
                                </div>
                            </div>
                            <div class="owl-item ps-5 pe-4">
                                <div class="item">
                                    <div class="image-holder">
                                        <img src="{% static 'img/companies/sinohero.jpg' %}" alt="Sino-Hero (Shenzhen) Bio-Medical Electronics Co">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="owl-nav disabled"></div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}