{% extends "base.html" %}
{% load static %}

{% block title %}Əsas Səhifə{% endblock %}

{% block content %}
    <main>
        <section class="banner">
            <div id="carousel" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carousel" data-bs-slide-to="0" class=""></button>
                    <button type="button" data-bs-target="#carousel" data-bs-slide-to="1" class=""></button>
                    <button type="button" data-bs-target="#carousel" data-bs-slide-to="2" class="active" aria-current="true"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active" style="background-image: url('static/img/banner1.jpg');">
                        <div class="carousel-caption d-none d-md-block text-start" style="margin-bottom: 50px !important;">
                            <h2>Haqqımızda</h2>
                            <p><strong>"Böyük Qayıdış" MMC</strong> şirkətinin yaradılmasının əsas məqsədi sizə ən yüksək səviyyədə təchizat xidməti göstərmək və təşkilati məsələlərdə peşəkar komandamızla yanınızda olmaqdır.</p>
                            <a href="{% url 'about' %}" class="btn btn-white mt-3">Daha Ətraflı</a>
                        </div>
                    </div>
                    <div class="carousel-item" style="background-image: url('static/img/banner2.jpg');">
                        <div class="carousel-caption d-none d-md-block text-start" style="margin-bottom: 50px !important;">
                            <h2>Layihələrimiz</h2>
                            <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem ut iure officiis, molestiae nam repellendus voluptas placeat iusto maiores veritatis laborum minima nobis dignissimos architecto nemo natus provident deleniti hic?</p> -->
                            <a href="{% url 'projects' %}" class="btn btn-white mt-3 me-3">Daha Çox</a>
                            <a href="{% url 'contact' %}" class="btn btn-white mt-3">Əlaqə</a>
                        </div>
                    </div>
                    <div class="carousel-item" style="background-image: url('static/img/banner3.jpg');">
                        <div class="carousel-caption d-none d-md-block text-start" style="margin-bottom: 50px !important;">
                            <h2>Xidmətlərimiz</h2>
                            <p><strong>Xidmətlərimizə aiddir:</strong> Təchizat, kommersiya və dövlət təşkilatları üçün bütün zəruri materialların satın alınması, xaricdən məhsulların idxalı, gömrük rəsmiləşdirilməsi, təşkilati məsələlərdə dəstək xidməti</p>
                            <a href="{% url 'services' %}" class="btn btn-white mt-3 me-3">Daha Çox</a>
                            <a href="{% url 'contact' %}" class="btn btn-white mt-3">Əlaqə</a>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
                    <i class="fa-solid fa-chevron-left"></i>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
                    <i class="fa-solid fa-chevron-right"></i>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </section>

        <section class="about-us">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-lg-8">
                        <h3>Vaxtınıza Qənaət Edən Təhlükəsiz, Etibarlı və Ekspres Logistika və Nəqliyyat Həlləri!</h3>
                        <div class="row mt-5 about-content">
                            <div class="col-12 col-md-5">
                                <div id="about-carousel" class="carousel slide" data-bs-ride="carousel">
                                    <div class="carousel-indicators">
                                        <button type="button" data-bs-target="#about-carousel" data-bs-slide-to="0" class="" aria-label="Slide 1"></button>
                                        <button type="button" data-bs-target="#about-carousel" data-bs-slide-to="1" aria-label="Slide 2" class="active" aria-current="true"></button>
                                    </div>
                                    <div class="carousel-inner">
                                        <div class="carousel-item active" style="min-height: 305px;">
                                            <i class="fa-solid fa-globe"></i>
                                            <h4>Missiyamız</h4>
                                            <p>Yüksək keyfiyyətli məhsul göndərmələrini təmin etmək, material, informasiya, maliyyə, kadr və s. axınlarının funksional menecmentinin səmərəli, inteqrativ sistemini yaratmaqdır. Eyni zamanda davamlı inkişafa yönəlmiş insanların təcrübə, bilik tələbatlarını peşəkarlıqla qarşılaya bilməkdir.</p>
                                        </div>
                                        <div class="carousel-item" style="min-height: 305px;">
                                            <i class="fa-solid fa-globe"></i>
                                            <h4>Vizyonumuz</h4>
                                            <p>Vizyonumuz Azərbaycanda ən çox seçilib etibar edilən şirkətə çevrilməklə yanaşı,  regionda da bu sahədə faydalı tərəfdaş kimi etibar qazanaraq, fəaliyyət istiqamətlərini digər ölkələrə də yaya bilməkdir.</p>
                                        </div>
                                    </div>
                                    <button class="carousel-control-prev" type="button" data-bs-target="#about-carousel" data-bs-slide="prev" style="display: none;">
                                        <span class="visually-hidden">Previous</span>
                                    </button>
                                    <button class="carousel-control-next" type="button" data-bs-target="#about-carousel" data-bs-slide="next" style="display: none;">
                                        <span class="visually-hidden">Next</span>
                                    </button>
                                </div>
                            </div>
                            <div class="col-12 col-md-7 px-4">
                                <h4>"Böyük Qayıdış" MMC şirkətinin yaradılmasının əsas məqsədi sizə ən yüksək səviyyədə təchizat xidməti göstərmək və təşkilati məsələlərdə peşəkar komandamızla yanınızda olmaqdır.</h4>
                                <p>Bir çox xidmətlər göstərən şirkətimiz özündə sənaye və iqtisadiyyatın sahələrini cəmləşdirən biznesiniz üçün geniş sayda həll yolları təqdim edir. Təchizat və satış, kommersiya və dövlət təşkilatları üçün bütün zəruri materialların satın alınması, procurement, supply və digər əməliyyatlarınızı operativ və rahat şəkildə icra etmək şirkətimiz üçün önəmli faktordur.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 d-none d-lg-block">
                        <div class="image-holder">
                            <img src="{% static 'img/about.jpg' %}" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="services">
            <div class="container">
                <h4>Təklif etdiyimiz xidmətlər</h4>
                <div class="row services-info">
                    <div class="col-12 col-lg-7">
                        <h3>Dünyanın çoxmillətli şirkətləri üçün aparıcı logistikanı idarə edirik.</h3>
                    </div>
                    <div class="col-12 col-lg-5">
                        <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia et debitis quibusdam optio a ea reiciendis voluptatibus, veniam est quis, voluptates molestias ab? Eos suscipit at porro unde sit nesciunt, repellendus minus, quis totam ipsum iure ipsam veritatis. Voluptas atque saepe optio. Illo quod libero commodi nemo, magnam maiores id.</p> -->
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col-12 col-md-4 service-item">
                        <div class="service__img" style="background-image: url('static/img/card1.jpg');"></div>
                        <div class="service__overlay">
                            <!-- <i class="fa-solid fa-plane"></i> -->
                            <h4>Təchizat</h4>
                        </div>
                    </div>
                    <div class="col-12 col-md-4 service-item">
                        <div class="service__img" style="background-image: url('static/img/card2.jpg');"></div>
                        <div class="service__overlay">
                            <!-- <i class="fa-solid fa-ship"></i> -->
                            <h4>Kommersiya və dövlət təşkilatları üçün bütün zəruri materialların satın alınması</h4>
                        </div>
                    </div>
                    <div class="col-12 col-md-4 service-item">
                        <div class="service__img" style="background-image: url('static/img/card3.jpg');"></div>
                        <div class="service__overlay">
                            <!-- <i class="fa-solid fa-truck-fast"></i> -->
                            <h4>Xaricdən məhsulların idxalı</h4>
                        </div>
                    </div>
                    <div class="col-12 col-md-4 service-item">
                        <div class="service__img" style="background-image: url('static/img/card4.jpg');"></div>
                        <div class="service__overlay">
                            <!-- <i class="fa-solid fa-truck-fast"></i> -->
                            <h4>Gömrük rəsmiləşdirilməsi</h4>
                        </div>
                    </div>
                    <div class="col-12 col-md-4 service-item">
                        <div class="service__img" style="background-image: url('static/img/card5.jpg');"></div>
                        <div class="service__overlay">
                            <!-- <i class="fa-solid fa-truck-fast"></i> -->
                            <h4>Təşkilati məsələlərdə dəstək xidməti</h4>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="section partners-customers-section">
            <div class="container">
                <h3>Tərəfdaş və Sifarişçilər</h3>
                <div class="line"></div>
                <div class="owl-carousel owl-theme owl-loaded owl-drag">
                    <div class="owl-stage-outer">
                        <div class="row owl-stage" style="align-items: center;">
                            <div class="owl-item ps-5 pe-4">
                                <div class="item">
                                    <div class="image-holder">
                                        <img src="{% static 'img/companies/mb-broker-mmc.png' %}" alt="MB Broker MMC">
                                    </div>
                                </div>
                            </div>
                            <div class="owl-item ps-5 pe-4">
                                <div class="item">
                                    <div class="image-holder">
                                        <img src="{% static 'img/companies/analitik-ekspertiza-merkezi.png' %}" alt="Analitik Ekspertiza Mərkəzi">
                                    </div>
                                </div>
                            </div>
                            <div class="owl-item ps-5 pe-4">
                                <div class="item">
                                    <div class="image-holder">
                                        <img src="{% static 'img/companies/panno-textile.png' %}" alt="Panno Textile">
                                    </div>
                                </div>
                            </div>
                            <div class="owl-item ps-5 pe-4">
                                <div class="item">
                                    <div class="image-holder">
                                        <img src="{% static 'img/companies/amik.png' %}" alt="Azərbaycan Menecment və İnvestisiya Korporasiyası">
                                    </div>
                                </div>
                            </div>
                            <div class="owl-item ps-5 pe-4">
                                <div class="item">
                                    <div class="image-holder">
                                        <img src="{% static 'img/companies/qarabag-konsaltinq.jpg' %}" alt="Qarabağ Konsaltinq MMC">
                                    </div>
                                </div>
                            </div>
                            <div class="owl-item ps-5 pe-4">
                                <div class="item">
                                    <div class="image-holder">
                                        <img src="{% static 'img/companies/atesgah-sigorta.png' %}" alt="Atəşgah Həyat Sığorta Şirkəti">
                                    </div>
                                </div>
                            </div>
                            <div class="owl-item ps-5 pe-4">
                                <div class="item">
                                    <div class="image-holder">
                                        <img src="{% static 'img/companies/caucasus-consulting-group-of-companies.png' %}" alt="Caucasus COnsulting Group of Companies MMC">
                                    </div>
                                </div>
                            </div>
                            <div class="owl-item ps-5 pe-4">
                                <div class="item">
                                    <div class="image-holder">
                                        <img src="{% static 'img/companies/kliniki-tibbi-merkez.png' %}" alt="Kliniki Tibbi Mərkəz">
                                    </div>
                                </div>
                            </div>
                            <div class="owl-item ps-5 pe-4">
                                <div class="item">
                                    <div class="image-holder">
                                        <img src="{% static 'img/companies/investbaku-mmc.png' %}" alt="InvestBaku MMC">
                                    </div>
                                </div>
                            </div>
                            <div class="owl-item ps-5 pe-4">
                                <div class="item">
                                    <div class="image-holder">
                                        <img src="{% static 'img/companies/alex-machine-istanbul.jpeg' %}" alt="Alex Machine Istanbul">
                                    </div>
                                </div>
                            </div>
                            <div class="owl-item ps-5 pe-4">
                                <div class="item">
                                    <div class="image-holder">
                                        <img src="{% static 'img/companies/sinohero.jpg' %}" alt="Sino-Hero (Shenzhen) Bio-Medical Electronics Co">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="owl-nav disabled"></div>
                </div>
            </div>
        </section>

        <section class="section projects-section">
            <div class="container">
                <h3>Layihələr</h3>
                <div class="line"></div>
                <div class="row">
                    {% for i in projects %}
                    <a href="{{i.get_absolute_url}}" class="col-12 col-md-4">
                        <div class="card">
                            <div class="card-img-top" style="background-image: url('{{ i.image.url }}');"></div>
                            <div class="card-body">
                                <h5 class="card-title">{{i.title}}</h5>
                                <p class="card-text">{{i.description1|truncatechars:85}}</p>
                            </div>
                        </div>
                    </a>
                    {% endfor %}

                    <!-- <a href="project-details.html" class="col-12 col-md-4">
                        <div class="card">
                            <div class="card-img-top" style="background-image: url('static/img/projects2.jpg');"></div>
                            <div class="card-body">
                                <h5 class="card-title">Project title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            </div>
                        </div>
                    </a> -->
                </div>
                <a href="{% url 'projects' %}" class="btn btn-purple mt-5">Daha Çox</a>
            </div>
        </section> 

        <section class="section news-section pb-5">
            <div class="container">
                <h3>Xəbərlər</h3>
                <div class="line"></div>
                <div class="row">
                    {% for i in news %}
                    <div class="col-12 col-md-4">
                        <div class="card">
                            <a href="{{i.get_absolute_url}}">
                                <div class="card-img-top" style="background-image: url('{{i.image.url}}');"></div>
                            </a>
                            <div class="card-body">
                                <span>{{i.created_at}}</span>
                                <a href="{{i.get_absolute_url}}"><h5 class="card-title">{{i.title}}</h5></a>
                                <p class="card-text">{{i.description1|truncatechars:85}}</p>
                                <a href="{{i.get_absolute_url}}" class="read-more">Daha ətraflı</a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}

                    <!-- <div class="col-12 col-md-4">
                        <div class="card">
                            <a href="news-details.html">
                                <div class="card-img-top" style="background-image: url('static/img/news2.jpg');"></div>
                            </a>
                            <div class="card-body">
                                <span>30 Avqust 2022</span>
                                <a href="news-details.html"><h5 class="card-title">News title</h5></a>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <a href="news-details.html" class="read-more">Daha ətraflı</a>
                            </div>
                        </div>
                    </div> -->
                </div>
                <a href="{% url 'news' %}" class="btn btn-purple mt-4">Daha Çox</a>
            </div>
        </section>
    </main>
{% endblock %}