

{% extends "base.html" %}

{% load static %}

{% block content %}

{% block title %}
    Tərəfdaş və Sifarişçilər | Böyük Qayıdış
{% endblock %}

    <main id="partners-and-customers-page">
        <section class="banner single-page-banner">
            <div class="banner-bg" style="background-image: url('../static/img/banner4.jpg');">
                <div class="carousel-caption text-start mt-5">
                    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'home' %}">Əsas Səhifə</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Tərəfdaş və Sifarişçilər</li>
                        </ol>
                    </nav>
                    <h2>Tərəfdaş və Sifarişçilər</h2>
                </div>
            </div>
        </section>

        <section class="section mt-5 pt-5 text-start">
            <div class="container py-5">
                <h3>Yerli</h3>
                <div class="line"></div>
                <div class="row">
                    <div class="col-12 col-sm-6 col-md-4 col-lg-3 text-center">
                        <div class="card mb-3 p-3">
                            <div style="background-image: url('../static/img/companies/mb-broker-mmc.png');"></div>
                        </div>
                        <h4>"MB Broker" Məhdud Məsuliyyətli Cəmiyyəti</h4>
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 col-lg-3 text-center">
                        <div class="card mb-3 p-3">
                            <div style="background-image: url('../static/img/companies/analitik-ekspertiza-merkezi.png');"></div>
                        </div>
                        <h4>"Analitik Ekspertiza Mərkəzi" Publik Hüquqi Şəxsi</h4>
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 col-lg-3 text-center">
                        <div class="card mb-3 p-3">
                            <div style="background-image: url('../static/img/companies/panno-textile.png');"></div>
                        </div>
                        <h4>"Panno Textile" Məhdud Məsuliyyətli Cəmiyyəti</h4>
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 col-lg-3 text-center">
                        <div class="card mb-3 p-3">
                            <div style="background-image: url('../static/img/companies/amik.png');"></div>
                        </div>
                        <h4>"Azərbaycan Menecment və İnvestisiya Korporasiyası" Məhdud Məsuliyyətli Cəmiyyəti</h4>
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 col-lg-3 text-center">
                        <div class="card mb-3 p-3">
                            <div style="background-image: url('../static/img/companies/qarabag-konsaltinq.jpg');"></div>
                        </div>
                        <h4>"Qarabağ Konsaltinq" Məhdud Məsuliyyətli Cəmiyyəti</h4>
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 col-lg-3 text-center">
                        <div class="card mb-3 p-3">
                            <div style="background-image: url('../static/img/companies/atesgah-sigorta.png');"></div>
                        </div>
                        <h4>"Atəşgah Həyat" Sığorta Şirkəti Açıq Səhmdar Cəmiyyəti</h4>
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 col-lg-3 text-center">
                        <div class="card mb-3 p-3">
                            <div style="background-image: url('../static/img/companies/caucasus-consulting-group-of-companies.png');"></div>
                        </div>
                        <h4>"Caucasus Consulting Group of Companies" Məhdud Məsuliyyətli Cəmiyyəti</h4>
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 col-lg-3 text-center">
                        <div class="card mb-3 p-3">
                            <div style="background-image: url('../static/img/companies/kliniki-tibbi-merkez.png');"></div>
                        </div>
                        <h4>"Kliniki Tibbi Mərkəz" Publik Hüquqi Şəxsi</h4>
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 col-lg-3 text-center">
                        <div class="card mb-3 p-3">
                            <div style="background-image: url('../static/img/companies/investbaku-mmc.png');"></div>
                        </div>
                        <h4>"InvestBaku" Məhdud Məsuliyyətli Cəmiyyəti</h4>
                    </div>
                </div>
            </div>

            <div class="container">
                <h3>Xaricdə</h3>
                <div class="line"></div>
                <div class="row">
                    <div class="col-12 col-sm-6 col-md-4 col-lg-3 text-center">
                        <div class="card mb-3 p-3">
                            <div style="background-image: url('../static/img/companies/alex-machine-istanbul.jpeg');"></div>
                        </div>
                        <h4>Alex Makina Ticaret ve Sanayi Ltd. Şti. (Türkiyə)</h4>
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 col-lg-3 text-center">
                        <div class="card mb-3 p-3">
                            <div style="background-image: url('../static/img/companies/sinohero.jpg');"></div>
                        </div>
                        <h4>Sino-Hero (Shenzhen) Bio-Meidcal Electronics Co. Ltd. (Çin)</h4>
                    </div>
                </div>
            </div>
        </section>
    </main>

    {% endblock %}
