{% extends "base.html" %}
{% load static %}

{% block title %}Xəbərlər{% endblock %}

{% block content %}
    <main>
        <section class="banner single-page-banner">
            <div class="banner-bg">
                <div class="container caption text-start">
                    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'home' %}">Əsas Səhifə</a></li>
                            <li class="breadcrumb-item"><a href="{% url 'news' %}">Xəbərlər</a></li>
                            <li class="breadcrumb-item active" aria-current="page">{{news.title}}</li>
                        </ol>
                    </nav>
                    <h2>Xəbərlər</h2>
                </div>
            </div>
        </section>

        <section class="section news-section">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-8 single-blog">
                        <div class="blog-title-img">
                            <img src="{{ news.image.url }}" alt="{{news.title}}">
                        </div>
                        <h3 class="mt-5 pb-3">{{news.title}}</h3>
                        <span>{{news.created_at}}</span>
                        <div class="line mt-4"></div>
                        <div class="single-blog-content">

                            <!-- -------------------------------- -->

                            {% if news.description1 %}
                            <p>{{news.description1}}</p>
                            {% endif %}

                            {% if news.image1 %}
                            <img src="{{ news.image1.url }}" alt="Img 1">
                            {% endif %}

                            <!-- -------------------------------- -->

                            {% if news.description2 %}
                            <p>{{news.description2}}</p>
                            {% endif %}

                            {% if news.image2 %}
                            <img src="{{ news.image2.url }}" alt="Img 1">
                            {% endif %}

                            <!-- -------------------------------- -->

                            {% if news.description3 %}
                            <p>{{news.description3}}</p>
                            {% endif %}

                            {% if news.image3 %}
                            <img src="{{ news.image3.url }}" alt="Img 1">
                            {% endif %}

                            <!-- -------------------------------- -->

                            {% if news.description4 %}
                            <p>{{news.description4}}</p>
                            {% endif %}

                            {% if news.image4 %}
                            <img src="{{ news.image4.url }}" alt="Img 1">
                            {% endif %}

                            <!-- -------------------------------- -->

                            {% if news.description5 %}
                            <p>{{news.description5}}</p>
                            {% endif %}

                            {% if news.image5 %}
                            <img src="{{ news.image5.url }}" alt="Img 1">
                            {% endif %}
                           
                        </div>
                    </div>

                    <div class="col-12 col-md-4">
                        <div class="sidebar text-start">
                            <h4>Digər xəbərlər</h4>
                            <div class="line"></div>
                            <div class="box">
                                <a href="news-details.html">
                                    <div class="box-img" style="background-image: url('../static/img/news2.jpg');"></div>
                                </a>
                                <span>30 Avqust 2022</span>
                                <a href="news-details.html"><h5>Lorem ipsum dolor sit amet consectetur</h5></a>
                            </div>
                            <div class="box">
                                <a href="news-details.html">
                                    <div class="box-img" style="background-image: url('../static/img/news3.jpg');"></div>
                                </a>
                                <span>30 Avqust 2022</span>
                                <a href="news-details.html"><h5>Lorem ipsum dolor sit amet consectetur</h5></a>
                            </div>
                        </div>
                    </div>                    
                </div>
            </div>
        </section>
    </main>
{% endblock %}